<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage.master.cs" Inherits="MasterPage" %>
<!DOCTYPE html>
<script runat="server">


</script>


<html xmlns="http://www.w3.org/1999/xhtml">
    <head runat="server">
    <title></title>
    <link href="theme/vmenu.css" rel="stylesheet" />
     
    <asp:ContentPlaceHolder id="ContentPlaceHolder2" runat="server">
        
        </asp:ContentPlaceHolder>
        <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
    </asp:ContentPlaceHolder>
       
        
       
        
       
        
       
    
        
       
        
       
        
       
    
       
        
       
        
       
        
       
    
        
       
        
       
        
       
      
       
        
       
        
       
        
       
    
        
       
        
       
        
       
    
       
        
       
        
       
        
       
    
        
       
        
       
        
       
        <link href="theme/mastertheme.css" rel="stylesheet" type="text/css" />
       
        
       
        
       
        
       
    
        
       
        
       
        
       
    
       
        
       
        
       
        
       
    
        
       
        
       
        
       
        <style type="text/css">

            .auto-style5 {
                width: 138%;
            }
            .auto-style6 {
                width: 963px;
            }
        </style>
       
        
       
        
       
        
       
    
        
       
        
       
        
       
    
       
        
       
        
       
        
       
    
        
       
        
       
        
       
</head>

<body>
    <form id="form1" runat="server">
         <div id="auto-style13" >

        <table style="padding:0;margin:0;" id="auto-style15">
    <tr>
           <td  id="css4" >
               <asp:Image ID="Image2" runat="server" Height="66px" ImageUrl="~/NewFolder1/logo.png" Width="203px" />
           </td>
            <td  id="css6" >
                  <asp:Label ID="Label1" runat="server" Text="PALM BEACH " Font-Bold="True" Font-Italic="True" Font-Size="29pt" ForeColor="Black"></asp:Label>&nbsp;<asp:Label ID="Label3" runat="server" ForeColor="Black" Text="Hospital &amp; Diagnostic Center"></asp:Label>
           </td>
               </tr>
    <tr>
            <td  id="css5" >
                <asp:Image ID="Image1" runat="server" Height="54px" ImageUrl="~/NewFolder1/thZKY6CTL4.jpg" Width="49px" />
                <asp:Label ID="user_name" runat="server"></asp:Label>
            </td>
            <td id="css7" >
                
                <br />
                
                <table class="auto-style5">
                    <tr>
                        <td class="auto-style6">
                
                <asp:Label ID="Label2" runat="server" Text="Dashboard"></asp:Label>
            
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="auto-style6">&nbsp;&nbsp;</td>
                        <td >
            
            
                <asp:LinkButton ID="LinkButton45" runat="server" OnClick="LinkButton45_Click" CausesValidation="False">LogOut</asp:LinkButton>
                        </td>
                    </tr>
                </table>
            </td>
       
               </tr>
             <tr>
            <td  id="css2"  >
                 <asp:Panel ID="Panel6" runat="server" Height="683px" CssClass="panalcss" Width="199px">
                 <ul id="nav">
        <li id="auto-style14" ><asp:LinkButton ID="LinkButton39" runat="server" OnClick="LinkButton39_Click" CausesValidation="False" >Dashboard</asp:LinkButton></li>
        <li> <asp:LinkButton ID="LinkButton40" runat="server" OnClick="LinkButton40_Click" CausesValidation="False">Billing</asp:LinkButton></li>
                     <li><asp:LinkButton ID="LinkButton10" runat="server" CausesValidation="False" >EMR</asp:LinkButton>
                         <ul><li><asp:LinkButton ID="LinkButton11" runat="server">In-Patient EMR</asp:LinkButton></li>
                             <li><asp:LinkButton ID="LinkButton12" runat="server"> Out-Patient EMR</asp:LinkButton></li>
                         </ul>
                     </li>
        <li><a href="#">patient Management</a>
            <ul>
                <li>
                    <asp:LinkButton ID="LinkButton1" OnClick="LinkButton1_Click" runat="server">New Patient</asp:LinkButton></li>
                  <li><
                    <asp:LinkButton ID="LinkButton2" OnClick="LinkButton2_Click1" runat="server" CausesValidation="False">Patient master</asp:LinkButton></li>
                <li><a href="#">IPD</a><ul><li><asp:LinkButton ID="LinkButton8" OnClick="LinkButton8_Click" runat="server" >Admit Patient</asp:LinkButton></li>
                        <li><asp:LinkButton ID="LinkButton9" runat="server" >In-Patient Enquiry</asp:LinkButton></li>
                    </ul></li>
                <li><a href="#">OPD</a>
                    <ul><li><asp:LinkButton ID="LinkButton3" runat="server" OnClick="LinkButton3_Click1">OPD Registration</asp:LinkButton></li>
                        <li><asp:LinkButton ID="LinkButton4" runat="server" >Out-Patient Enquiry</asp:LinkButton></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><asp:LinkButton ID="LinkButton13" runat="server" >Room Management </asp:LinkButton>
            <ul><li><asp:LinkButton ID="LinkButton14" runat="server" >Room Enquiry</asp:LinkButton></li>
               <li> <asp:LinkButton ID="LinkButton15" runat="server" >Room Category</asp:LinkButton></li>
                <li> <asp:LinkButton ID="LinkButton16" runat="server" >Room Master</asp:LinkButton></li>
                <li> <asp:LinkButton ID="LinkButton17" runat="server">Room Bed Master</asp:LinkButton></li>
            </ul>
        </li>
        <li><a href="#">Nurse Module</a>
            <ul>
<li><asp:LinkButton ID="LinkButton18" runat="server" >Patient Medication</asp:LinkButton></li>
 <li><asp:LinkButton ID="LinkButton20" runat="server" >Intake/Output Record</asp:LinkButton></li>
  <li><asp:LinkButton ID="LinkButton21" runat="server" >Nurse Progress Note</asp:LinkButton></li>
  <li><asp:LinkButton ID="LinkButton22" runat="server" >Vital Sign</asp:LinkButton></li>
  <li><asp:LinkButton ID="LinkButton23" runat="server">Bed Side Procedure</asp:LinkButton></li>
   <li><asp:LinkButton ID="LinkButton24" runat="server">IP Room Transfer</asp:LinkButton></li>
                        <li><asp:LinkButton ID="LinkButton25" runat="server" >Patient History</asp:LinkButton></li>
    <li><asp:LinkButton ID="LinkButton19" runat="server" >Discharge Summary</asp:LinkButton></li>
            </ul>
        </li>
        <li><asp:LinkButton ID="LinkButton7" runat="server">Doctor Module</asp:LinkButton>
            <ul><li><asp:LinkButton ID="LinkButton5" runat="server" OnClick="LinkButton5_Click" >In-patient</asp:LinkButton></li>
                        <li><asp:LinkButton ID="LinkButton6" runat="server" OnClick="LinkButton6_Click" >Out-Patient</asp:LinkButton></li>
                    </ul>
        </li>
                     <li><a href="#">User Management</a>
            <ul>
<li><asp:LinkButton ID="LinkButton26" runat="server" OnClick="LinkButton26_Click">Add New User</asp:LinkButton></li>
  <li><asp:LinkButton ID="LinkButton27" runat="server">User Masterlis</asp:LinkButton></li>
  <li><asp:LinkButton ID="LinkButton28" runat="server">User Role</asp:LinkButton></li>
   
                     </ul></li>
                      <li><a href="#">Administrator</a>
            <ul>
<li><asp:LinkButton ID="LinkButton29" runat="server">Department Master </asp:LinkButton></li>
  <li><asp:LinkButton ID="LinkButton30" runat="server">Designation Master</asp:LinkButton></li>
  <li><asp:LinkButton ID="LinkButton31" runat="server">Bill Group Name Master</asp:LinkButton></li>
      <li><asp:LinkButton ID="LinkButton32" runat="server">Perticular bill master</asp:LinkButton></li>
  <li><asp:LinkButton ID="LinkButton33" runat="server">Complain Master</asp:LinkButton></li>
  <li><asp:LinkButton ID="LinkButton34" runat="server">diagnosis Master</asp:LinkButton></li>
      <li><asp:LinkButton ID="LinkButton35" runat="server">Insurance Company</asp:LinkButton></li>
  <li><asp:LinkButton ID="LinkButton36" runat="server">Medicine Management</asp:LinkButton></li>
  <li><asp:LinkButton ID="LinkButton37" runat="server">System Parameter</asp:LinkButton></li>
      <li><asp:LinkButton ID="LinkButton38" runat="server">System Pages</asp:LinkButton></li>
  
   
                     </ul></li>
                     <li><a href="#">Report Generation</a></li>
                     <li><a href="#">User Profile</a></li>

    </ul>
                 </asp:Panel>
                 </td>
            <td style="vertical-align:top; " id="css1" >
                 <asp:ContentPlaceHolder id="Content_td" runat="server">
        
                     <p>
                         &nbsp;</p>
        
        </asp:ContentPlaceHolder>
                 </td>
               </tr>
             </table>
    </div>

   
    </form>
</body>
</html>
