<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <connectionStrings>
    <add name="palmConnectionString" connectionString="Data Source=DESKTOP-SP4LJ9B;Initial Catalog=palm;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <xhtmlConformance mode="Legacy"/>
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.6.1"/>
    <httpHandlers>
      <remove verb="*" path="resource.axd"/>
      <add verb="GET,HEAD" path="resource.axd" type="Web.Ajax.Handlers.Resource" validate="true"/>
    </httpHandlers>
    <pages>
      <controls>
        <add tagPrefix="c" namespace="Web.Ajax.Controls" assembly="Web.Ajax"/>
      </controls>
    </pages>
  
      <customErrors mode="Off"/>
 
  </system.web>
 
  <system.webServer>
    <handlers>
      <add name="ResourceHandler" path="resource.axd" verb="*" type="Web.Ajax.Handlers.Resource,Web.Ajax" resourceType="Unspecified" preCondition="integratedMode"/>
    </handlers>
  </system.webServer>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
</configuration>