<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage2.master.cs" Inherits="MasterPage2" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
    <head runat="server">
    <title></title>
        <link href="../theme/mastertheme.css" rel="stylesheet" />
        <link href="../theme/submenu.css" rel="stylesheet" />
        <link href="../theme/vmenu.css" rel="stylesheet" />
    <asp:ContentPlaceHolder id="ContentPlaceHolder2" runat="server">
        
        </asp:ContentPlaceHolder>
        <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server" >
    </asp:ContentPlaceHolder>
       
  
       
     
       
        
       
        
       
        
       
       
       
        
       
        
       
        
       
      
        
       
        
       
        
       
       
       
        
       
        
       
        
       
</head>

<body>
    <form id="form1" runat="server" class="auto-style1">
         <div id="auto-style13" class="auto-style9" >

        <table style="padding:0;margin:0; width:100%;" >
    <tr>
            <td id="css4" style="width:20%;">
                <asp:Image ID="Image3" runat="server" Height="69px" ImageUrl="~/NewFolder1/logo.png" Width="178px" />
            </td>
            <td id="css6" style="width:82%;">
                  <asp:Label ID="Label1" runat="server" Text="PALM BEACH " Font-Bold="True" Font-Italic="True" Font-Size="29pt" ForeColor="Black"></asp:Label><asp:Label ID="Label3" runat="server" ForeColor="Black" Text="Hospital &amp; Diagnostic Center"></asp:Label>
            </td>
               </tr>
    <tr>
            <td id="css5"  >
                <asp:Image ID="Image1" runat="server" Height="54px" ImageUrl="~/NewFolder1/thZKY6CTL4.jpg" Width="49px" />
                <asp:Label ID="Label66" runat="server"></asp:Label>
            </td>
            <td id="css7" >
                
                <table class="auto-style5">
                    <tr>
                        <td>
                
                <asp:Label ID="Label2" runat="server" Text="Dashboard"></asp:Label>
            
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td >
            
            
                <asp:LinkButton ID="LinkButton45" runat="server" OnClick="LinkButton45_Click">LogOut</asp:LinkButton>
                        </td>
                    </tr>
                </table>
            </td>
               </tr>
             <tr >
           
            <td style="vertical-align:top;" colspan="2" >
                <table style="vertical-align:top; " class="auto-style4" ><tr><td class="auto-style2">
                        <table id="profile" class="auto-style3">
                            <tr>
                                <td id="tdcss1" rowspan="2" style="vertical-align:top;">
                                    <asp:Image ID="Image2" runat="server" Height="63px" ImageUrl="~/NewFolder1/patient.png" Width="67px" />
                                </td>
                                <td id"tdcss2">
                                    <asp:Label ID="Label62" runat="server" Text="Patient No."></asp:Label>
                                    <br />
                                    <asp:Label ID="Label63" runat="server"></asp:Label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <asp:Label ID="Label64" runat="server" Text="Patient Name."></asp:Label>
                                    <br />
                                    <asp:Label ID="Label65" runat="server"></asp:Label>
                                </td>
                            </tr>
                        </table>
                    </td><td rowspan="2" style="vertical-align:top;"  >
                     <asp:ContentPlaceHolder ID="ContentPlaceHolder3" runat="server">
                                             
                         
                         <asp:ScriptManager ID="ScriptManager1" runat="server">
                         </asp:ScriptManager>
                                             
                         
                        </asp:ContentPlaceHolder>
                    </td></tr>
                    <tr><td id="css11"> <ul id="submenu"><li><asp:LinkButton ID="LinkButton41" runat="server" OnClick="LinkButton41_Click" >Genral Information</asp:LinkButton></li>
                      
                        <li><asp:LinkButton ID="LinkButton42" runat="server" OnClick="LinkButton42_Click" >Complain</asp:LinkButton></li>
                         <li><asp:LinkButton ID="LinkButton43" runat="server" OnClick="LinkButton43_Click" >Vital Sign</asp:LinkButton></li>
                         <li> <asp:LinkButton ID="LinkButton1" runat="server" OnClick="LinkButton1_Click1"  >Investigation</asp:LinkButton></li>
                         <li>
                            <asp:LinkButton ID="LinkButton39" runat="server" OnClick="LinkButton39_Click" >Diagnosis</asp:LinkButton></li>
                        <li> <asp:LinkButton ID="LinkButton40" runat="server" OnClick="LinkButton40_Click" >Medication</asp:LinkButton></li>
                        
                       
                        <li><asp:LinkButton ID="LinkButton44" runat="server" OnClick="LinkButton44_Click" >Discharge Summary</asp:LinkButton></li>
                         <li><asp:LinkButton ID="LinkButton2" runat="server" onClick="LinkButton2_Click1" >User Profile</asp:LinkButton></li>
                    </ul></td>
                
        
                    
        
               </tr></table>

                 </td>
               </tr>
             </table>
    </div>

   
    </form>
</body>
</html>