     #auto-style1 {
            width: 1186px;
        }
        #auto-style2 {
            width: 239px;
        }
        #auto-style3 {
            width: 260px;
        }
        #auto-style4 {
            width: 276px;
        }
        #auto-style5 {
            width: 266px;
            height: 99px;
        }
        #auto-style6 {
            width: 1254px;
            height: 111px;
        }
        #auto-style7 {
            width: 100%;
            height: 164px;
        }