body {background:#f1f1f1;
}
#nav {
margin:0;padding:0;float:left;
}
    #nav li {
    list-style:none;background:#fff;width:200px;  border-bottom:1px solid #666; 

    }
        #nav li ul ul li{
        display:none;
        }
         #nav li ul li:hover ul li{
              position:relative;left:-20px;
        display:block;
        }


        #nav li a {
       display:block;padding:20px;border-left:4px solid #444; text-decoration:none; box-shadow:1px 1px 5px #ccc;
             }
        #nav li a {
        border-left:4px solid #069; background:#f8f8f8;
        }
        #nav li ul {
        display:none;
        }
        #nav li:hover ul {
            position:relative;left:-10px;
       display:block;

             }
        #nav li:hover ul li {
        background:#333;
        }
            #nav li:hover ul li a {
            color:@black
            }#nav li:hover ul li a:hover{background:rgba(11, 192, 225, 0.89);border-left:4px solid #900 ;}

        